<h1>Book detail(show)</h1>
<%= flash[:success]%>

<p>Title:</p>
<p><%= @books.title %></p>
<h2>Body:</h2>
<p><%= @books.body %></p>

<%= link_to"edit", edit_book_path(@books.id)%>
<%= link_to"destroy", book_path(@books), method: :delete, data: { confirm: "Are you sure?", commit:"Ok", cancel:"キャンセル"} %>


<%= render 'books/list', book: @book, user: @user %>